header{
}
header div div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7vh;
}
header div div a {
  font-size: 200%;
  text-decoration: none;
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  line-height: 43px;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 1);
}
@media screen and (min-width: 426px) {
  header{
    background: none !important;
  }
  header div div:first-child{
    display: none;
  }
  
}
@media screen  and (max-width: 425px){
  header {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 94vh;
    left: 0px;
  }
  header div div:last-child{
    display: none
  }
  header div {
    width: 100%;
    justify-content: space-around;

}
header div a img{
  margin-top: 5px;
  width: 30px;
}
}


@media screen  and (max-width: 321px){
  header div a {
    font-size: 150%;
}
}



