header{
}
header div {
  display: flex;
  justify-content: space-around;
  align-items: center;
 
  height: 7vh;
}
header div a {
  font-size: 200%;
  text-decoration: none;
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  line-height: 43px;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 1);
}
@media screen  and (max-width: 425px){
  header {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 94vh;
    left: 0px;

  }
  header div {
    width: 100%;
    justify-content: space-around;

}
}


@media screen  and (max-width: 321px){
  header div a {
    font-size: 150%;
}
}



